{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <div id="app">
        <v-app>
            <welcome></welcome>
        </v-app>
    </div>
{% endblock %}
